/*! Small */

@media screen and (max-width: 576px) {
  /* Shared */
  .header,
  .habits_section,
  .extra_work_section,
  .training_section,
  .calculation_container,
  .team_section,
  .footer_section,
  .rights,
  .success_stories_section {
    width: 95%;
  }

  .btn {
    padding: 16px 28px;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-right: 14px;
  }

  .title {
    font-size: 32px;
    line-height: 38px;
  }
  /* Header */

  .logo > img {
    width: 80%;
  }

  .nav_items {
    display: none;
  }

  #hamburger {
    display: block;
    position: absolute;
    top: 130px;
    right: 20px;
    cursor: pointer;
    font-size: 28px;
    color: #ffffff;
  }
  #hamburger:hover {
    color: #e6533c;
  }

  /* Banner */
  .banner_section {
    flex-direction: column;
  }

  .banner_text {
    margin-bottom: 48px;
  }

  .banner_text > h1 {
    font-size: 36px;
    line-height: 44px;
    width: 65%;
  }

  #shape {
    font-size: 60px;
    letter-spacing: 5px;
  }

  .banner_text > p {
    width: 65%;
  }

  .download_btn {
    padding: 16px 28px;
    margin: 14px 0 0 0;
  }

  .banner_img {
    flex: 1;
    text-align: center;
  }

  .banner_img > img {
    width: 100%;
  }

  .token_1,
  .token_2 {
    padding: 12px 17px;
  }

  .token_1 {
    top: 46%;
    left: 3%;
  }

  .token_1 h3,
  .token_2 h3 {
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 0.23px;
    margin-bottom: 8px;
  }

  .token_2 h3 {
    font-size: 30px;
    line-height: 30px;
    letter-spacing: 0.76px;
  }

  .token_1 p,
  .token_2 p {
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 0.76px;
  }

  .token_2 {
    top: 8%;
    right: 3%;
  }

  /* Banner End */
  /* Header End */

  /* Main Start */
  /* Habits Start */

  .habit_title {
    width: 80%;
  }

  .habit_tasks {
    flex-wrap: wrap;
    gap: 40px;
  }
  /* Habits End */

  /* Extra Work Start */
  .extra_work_section {
    padding: 33px;
    flex-direction: column;
    gap: 31px;
  }

  .extra_work_title > p {
    margin: 14px 0 24px 0;
    width: 90%;
  }

  .extra_work_title > button {
    width: 100%;
  }
  /* Extra Work End */

  /* Training Start */
  .training_title {
    width: 95%;
  }

  .all_img_container {
    display: block;
  }

  .img_row1 {
    display: grid;
    grid-template-columns: 160px auto;
  }

  .img_row2 {
    display: grid;
    grid-template-columns: 180px auto;
  }

  .img_row3 {
    display: grid;
    grid-template-columns: 160px auto;
  }

  .imgs_row1 {
    display: none;
  }

  .big_img {
    grid-column: span 1;
  }

  .imgs_row2 {
    display: none;
  }

  #lunges > span {
    left: 40%;
  }

  #pushup > span {
    left: 30%;
  }

  #jumping > span {
    left: 40%;
  }

  #backup > span {
    right: 2%;
  }

  #squats > span {
    left: 40%;
  }

  #crunches > span {
    left: 25%;
  }
  /* Training End */

  /* Calculator Start */

  .heading {
    font-size: 16px;
    line-height: 19px;
  }

  .calculator_title {
    width: 95%;
    margin: 0 auto 32px;
  }

  .calculation_container {
    flex-direction: column;
    padding: 38px 0;
  }

  .calculation_data {
    width: 80%;
  }

  .calculation_data > h4 {
    margin-bottom: 23px;
  }

  form > input {
    width: 47.5%;
  }

  #sex {
    width: 47.5%;
  }

  /* Calculator End */

  /* Team Section Start */
  .team_section {
    margin-bottom: 66px;
  }

  .team_title {
    width: 90%;
    margin: 0 auto 37px;
  }

  .team_img_container {
    grid-template-columns: repeat(1, 1fr);
  }
  /* Team Section End */

  /* Success Stories Section Start  */

  .success_title {
    width: 80%;
  }

  .stories {
    flex-direction: column;
    gap: 20px;
  }
  /* Success Stories Section End  */

  /* Main End */

  /* Footer Start */

  .footer_section {
    flex-direction: column;
    gap: 50px;
  }

  .footer_title > img {
    width: 80%;
  }

  .footer_details th {
    font-size: 28px;
    line-height: 35px;
  }

  .footer_details td {
    font-size: 20px;
    line-height: 25px;
  }
  /* Footer End */
}
/*! End */

/*! Medium */
@media screen and (min-width: 576px) and (max-width: 992px) {
  /* Shared */
  .header,
  .habits_section,
  .extra_work_section,
  .training_section,
  .calculation_container,
  .team_section,
  .footer_section,
  .rights,
  .success_stories_section {
    width: 95%;
  }

  .title {
    font-size: 36px;
    line-height: 43px;
  }

  /* Header */

  .logo > img {
    width: 80%;
  }
  .nav_items > nav > ul > li > a {
    font-size: 16px;
  }

  /* Banner */
  .banner_section {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .banner_text {
    margin-bottom: 100px;
  }

  .banner_text > p {
    width: 90%;
  }

  .token_1,
  .token_2 {
    padding: 17px 24px;
  }

  .token_1 {
    top: 60%;
    left: -7%;
  }

  .token_1 p,
  .token_2 p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
  }

  .token_2 {
    top: 10%;
    right: -15%;
  }

  /* Banner End */
  /* Header End */

  /* Main Start */
  /* Habits Start */

  .habit_title {
    width: 80%;
  }

  .habit_tasks {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
  /* Habits End */

  /* Extra Work Start */
  .extra_work_section {
    padding: 40px 49px;
    gap: 68px;
  }

  .extra_work_title > p {
    margin: 14px 0 34px 0;
    width: 90%;
  }
  /* Extra Work End */

  /* Training Start */
  .training_title {
    width: 95%;
  }

  #lunges > span {
    left: 40%;
  }

  #pushup > span {
    left: 30%;
  }

  #jumping > span {
    left: 40%;
  }

  #backup > span {
    right: 2%;
  }

  #squats > span {
    left: 40%;
  }

  #crunches > span {
    left: 25%;
  }
  /* Training End */

  /* Calculator Start */

  .calculator_title {
    width: 95%;
    margin: 0 auto 32px;
  }

  .calculation_container {
    flex-direction: column;
    padding: 38px 0;
  }

  .calculation_data {
    width: 50%;
  }

  .calculation_data > h4 {
    margin-bottom: 23px;
  }

  /* Calculator End */

  /* Team Section Start */
  .team_section {
    margin-bottom: 66px;
  }

  .team_title {
    width: 90%;
    margin: 0 auto 37px;
  }

  .team_img_container {
    grid-template-columns: repeat(2, 1fr);
  }
  /* Team Section End */

  /* Success Stories Section Start  */

  .success_title {
    width: 80%;
  }

  .stories {
    flex-direction: column;
    gap: 20px;
  }

  .story p {
    width: 80%;
  }
  /* Success Stories Section End  */

  /* Main End */

  /* Footer Start */

  .footer_section {
    flex-direction: column;
    align-items: start;
  }

  .footer_title {
    width: 80%;
  }

  .footer_title > img {
    width: 60%;
  }
  /* Footer End */
}
/*! End */

/*! Large */

@media screen and (min-width: 992px) and (max-width: 1024px) {
  /* Shared */
  .header {
    width: 95%;
  }

  /* Header */

  .logo > img {
    width: 80%;
  }
  .nav_items > nav > ul > li > a {
    font-size: 16px;
  }

  /* Banner */
  .banner_section {
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
  }

  .banner_text {
    margin-bottom: 100px;
  }

  .banner_text > p {
    width: 90%;
  }

  .token_1,
  .token_2 {
    padding: 17px 24px;
  }

  .token_1 {
    top: 60%;
    left: -7%;
  }

  .token_1 p,
  .token_2 p {
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 1px;
  }

  .token_2 {
    top: 10%;
    right: -15%;
  }

  /* Banner End */
  /* Header End */

  /* Main Start */
  /* Habits Start */

  .habit_title {
    width: 80%;
  }

  .habit_tasks {
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
  }
  /* Habits End */

  /* Extra Work Start */
  .extra_work_section {
    padding: 40px 49px;
    gap: 68px;
  }

  .extra_work_title > p {
    margin: 14px 0 34px 0;
    width: 90%;
  }
  /* Extra Work End */

  /* Training Start */
  .training_title {
    width: 95%;
  }

  #lunges > span {
    left: 40%;
  }

  #pushup > span {
    left: 30%;
  }

  #jumping > span {
    left: 40%;
  }

  #backup > span {
    right: 2%;
  }

  #squats > span {
    left: 40%;
  }

  #crunches > span {
    left: 25%;
  }
  /* Training End */

  /* Calculator Start */

  .calculator_title {
    width: 95%;
    margin: 0 auto 32px;
  }

  .calculation_container {
    flex-direction: column;
    padding: 38px 0;
  }

  .calculation_data {
    width: 50%;
  }

  .calculation_data > h4 {
    margin-bottom: 23px;
  }

  form > input {
    width: 49%;
  }

  #sex {
    width: 49%;
  }

  /* Calculator End */

  /* Success Stories Section Start  */

  .stories {
    gap: 10px;
  }
  /* Success Stories Section End  */

  /* Main End */

  /* Footer Start */

  .footer_section {
    flex-direction: column;
    align-items: start;
  }

  .footer_title {
    width: 80%;
  }

  .footer_title > img {
    width: 60%;
  }
  /* Footer End */
}

/*! End */
