@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: myFont;
  src: url(../font/Miama.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #111111;
}

/* Shared */
.header,
.habits_section,
.extra_work_section,
.training_section,
.calculation_container,
.team_section,
.footer_section,
.rights,
.success_stories_section {
  width: 90%;
  margin: 0 auto;
}

/* .btn {
  background: #e6533c;
  padding: 18px 40px;
  border: none;
  border-radius: 150px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
} */

.title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
  margin-bottom: 14px;
}

.title_description {
  color: #ffffff80;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}

/* Header */
.header {
  min-height: 750px;
  padding-top: 52px;
}

/* Navbar */
.navbar_section {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.logo {
  flex: 1;
}

.logo > img {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.nav_items {
  border: 1px solid #ffffff1a;
  padding: 4px;
  border-radius: 150px;
  flex: 1;
}

.nav_items > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_items > nav > ul > li > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

.nav_item {
  /* background: #e6533c; */
  padding: 10px 20px;
  border-radius: 150px;
}

.nav_item:hover {
  background: #e6533c;
}

#hamburger {
  display: none;
}
/* Navbar End */

/* Banner */
.banner_section {
  background: linear-gradient(90deg, rgba(67, 67, 67, 0.096), #77777700);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_text {
  flex: 1;
}

.banner_text > h1 {
  color: #fff;
  font-size: 78px;
  font-weight: 900;
  line-height: 94px;
  width: 75%;
}

#shape {
  font-family: myFont;
  font-weight: 400;
  font-size: 120px;
  letter-spacing: 8px;
}

.banner_text > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 28px 0;
  width: 75%;
}

.btn {
  background: transparent;
  padding: 18px 40px;
  border: 2px solid #ffffff;
  border-radius: 150px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-left: 14px;
}

.btn:hover {
  background: #e6533c;
  padding: 18px 40px;
  border: none;
  border-radius: 150px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  cursor: pointer;
}
/* .download_btn {
  background: transparent;
  padding: 18px 40px;
  border: 2px solid #ffffff;
  border-radius: 150px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-left: 14px;
} */

.banner_img {
  flex: 1;
  text-align: center;
  position: relative;
}

.token_1,
.token_2 {
  padding: 20px 23px;
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: #3030308a;
  position: absolute;
}

.token_1 {
  display: flex;
  align-items: center;
  gap: 12px;
  top: 71%;
  left: 8%;
}

.circle {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #e6533c;
}

.token_1 h3,
.token_2 h3 {
  text-align: start;
  color: #fafaf9;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}

.token_2 h3 {
  color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 1px;
}

.token_1 p,
.token_2 p {
  color: #efede8a6;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.token_2 {
  position: absolute;
  top: 20%;
  right: 10%;
}
/* Banner End */
/* Header End */

/* Main Start */
/* Habits Start */
.habits_section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.habit_title {
  width: 48%;
  margin: 0 auto 58px;
  text-align: center;
}

.habit_title > h2 {
  margin-bottom: 14px;
}

.habit_tasks {
  display: flex;
  justify-content: space-around;
}

.task {
  text-align: center;
}

.task_name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin: 30px 0 6px 0;
}

.task_description {
  color: #ffffff80;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  width: 230px;
  margin: 0 auto;
}

.habit_tasks img {
  border-radius: 50%;
}
/* Habits End */

/* Extra Work Start */
.extra_work_section {
  background: #222222;
  padding: 30px 43px;
  display: flex;
  gap: 165px;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  margin-bottom: 100px;
}

.extra_work_title {
  flex: 1;
}

.extra_work_title > p {
  margin: 14px 0 34px 0;
  width: 70%;
}

.extra_work_img {
  flex: 1;
}

.extra_work_img > img {
  width: 100%;
  border-radius: 18px;
  object-fit: cover;
}
/* Extra Work End */

/* Training Start */
.training_section {
  margin-bottom: 88px;
}

.training_title {
  width: 50%;
  margin-bottom: 58px;
}

.training_title > p {
  margin-top: 14px;
}

.training_imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.all_img_container {
  display: none;
}

.imgs_row1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.big_img {
  grid-column: span 2;
}

.imgs_row2 {
  display: grid;
  grid-template-columns: auto 300px auto;
}

.overlay {
  overflow: hidden;
  position: relative;
}

.overlay > img {
  opacity: 0.4;
}

.overlay span {
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  transform: translate(-50%, -50%);
}

#lunges {
  background: #06ffd280;
}

#lunges > span {
  bottom: 10%;
  left: 20%;
  color: #fff;
}

#pushup {
  background: #ff00004d;
}

#pushup > span {
  top: 10%;
  left: 10%;
  color: #fff;
}

#jumping {
  background: #00000080;
}

#jumping > span {
  color: #ffffff;
  bottom: 10%;
  left: 20%;
}

#backup {
  background: #00000080;
}

#backup > span {
  top: 10%;
  right: 10%;
  color: #ffffff;
}

#squats {
  background: #42ff004d;
}

#squats > span {
  bottom: 10%;
  left: 20%;
  color: #ffffff;
}

#crunches {
  background: #0047ff4d;
}

#crunches > span {
  bottom: 10%;
  left: 20%;
  color: #ffffff;
}

/* Training End */

/* Calculator Start */
.calculator_section {
  margin-bottom: 88px;
}

.heading {
  color: #ffffff;
  font-size: 28px;
  font-weight: 900;
  line-height: 34px;
}

.calculator_title {
  width: 80%;
  margin: 0 auto 88px;
}

.calculation {
  background: #222222;
}

.calculation_container {
  display: flex;
  padding: 49px 0;
  gap: 50px;
}

.calculation_data {
  flex: 1;
}

.calculation_form {
  flex: 1;
}

.calculation_data > h4 {
  margin-bottom: 52px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid #ffffff1a;
  text-align: left;
  padding: 15px 18px;
}

th {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
}

td {
  color: #ffffff80;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.calculation_form > p {
  margin: 14px 0 34px 0;
}

.calculation_form > form {
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 34px;
}

form > input {
  padding: 12px 20px;
  border: none;
  width: 48.5%;
  border-radius: 8px;
  background: #ffffff1a;
  color: #ffffff80;
  outline: none;
}

form > select {
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #ffffff1a;
  outline: none;
  color: #ffffff99;
}

form > select > option {
  background: #e6533c;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

#sex {
  width: 48.5%;
}

#activity {
  width: 100%;
}

/* Calculator End */

/* Team Section Start */
.team_section {
  margin-bottom: 88px;
}

.team_title {
  width: 70%;
  margin: 0 auto 58px;
  text-align: center;
}

.team_img_container {
  background: #ffffff1a;
  padding: 20px;
  border-radius: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow: hidden;
}

.trainer img {
  width: 100%;
  height: 100%;
  filter: brightness(0.8);
  object-fit: cover;
  border-radius: 18px;
}

.trainer {
  position: relative;
  height: 400px;
}

.trainer_details {
  position: absolute;
  transform: translate(-10%, -20%);
  bottom: 50px;
  left: 50px;
}

.name {
  color: #ffffff;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
}
/* Team Section End */

/* Success Stories Section Start  */
.success_stories_section {
  margin-bottom: 88px;
}

.success_title {
  width: 70%;
  margin: 0 auto 58px;
  text-align: center;
}

.stories {
  background: #ffffff1a;
  padding: 20px;
  display: flex;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
  border-radius: 18px;
}

.story {
  width: 100%;
  background: linear-gradient(90deg, rgba(205, 202, 202, 0.052), #4747470f);
  border-radius: 18px;
  padding: 20px;
}

.story h4 {
  margin: 30px 0 14px 0;
}

.story img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.story_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
/* Success Stories Section End  */

/* Main End */

/* Footer Start */
footer {
  background: rgba(255, 255, 255, 0.1);
  padding: 66px 0 35px 0;
}

.footer_section {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 100px;
}

.footer_title {
  flex: 1;
}

.footer_title > img {
  width: 50%;
}

.footer_details {
  flex: 1;
}

.footer_details th {
  border: none;
  color: #ffffff;
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}

.footer_details td {
  border: none;
  color: #ffffff80;
  font-size: 23px;
  font-weight: 400;
  line-height: 28px;
}

.rights {
  margin-top: 80px;
  text-align: center;
}

.rights > hr {
  color: #ffffff1a;
  margin-bottom: 36px;
}

.rights > small {
  color: #ffffff80;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}
/* Footer End */
