@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

@font-face {
  font-family: myFont;
  src: url(../font/Miama.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #111111;
}

/* Shared */
.header,
.habits_section,
.extra_work_section {
  width: 90%;
  margin: 0 auto;
}

.btn {
  background: #e6533c;
  padding: 18px 40px;
  border: none;
  border-radius: 150px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
}

.title {
  color: #ffffff;
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}

.title_description {
  color: #ffffff80;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
}

/* Header */
.header {
  min-height: 750px;
  padding-top: 52px;
}

/* Navbar */
.navbar_section {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.logo {
  flex: 1;
}

.logo > img {
  width: 50%;
  height: auto;
  object-fit: contain;
}

.nav_items {
  border: 1px solid #ffffff1a;
  padding: 4px 23px 4px 4px;
  border-radius: 150px;
  flex: 1;
}

.nav_items > nav > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav_items > nav > ul > li > a {
  color: #ffffff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}

#home {
  background: #e6533c;
  padding: 10px 20px;
  border-radius: 150px;
}

#hamburger {
  display: none;
}
/* Navbar End */

/* Banner */
.banner_section {
  background: linear-gradient(90deg, rgba(67, 67, 67, 0.096), #77777700);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner_text {
  flex: 1;
}

.banner_text > h1 {
  color: #fff;
  font-size: 78px;
  font-weight: 900;
  line-height: 94px;
  width: 75%;
}

#shape {
  font-family: myFont;
  font-weight: 400;
  font-size: 120px;
  letter-spacing: 8px;
}

.banner_text > p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 28px 0;
  width: 75%;
}

.download_btn {
  background: transparent;
  padding: 18px 40px;
  border: 2px solid #ffffff;
  border-radius: 150px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin-left: 14px;
}

.banner_img {
  flex: 1;
  text-align: center;
  position: relative;
}

.token_1,
.token_2 {
  padding: 20px 23px;
  width: fit-content;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background: #3030308a;
  position: absolute;
}

.token_1 {
  display: flex;
  align-items: center;
  gap: 12px;
  top: 71%;
  left: 8%;
}

.circle {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #e6533c;
}

.token_1 h3,
.token_2 h3 {
  text-align: start;
  color: #fafaf9;
  font-size: 24px;
  font-weight: 900;
  line-height: 24px;
  letter-spacing: 0.3px;
  margin-bottom: 10px;
}

.token_2 h3 {
  color: #ffffff;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 1px;
}

.token_1 p,
.token_2 p {
  color: #efede8a6;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.token_2 {
  position: absolute;
  top: 20%;
  right: 10%;
}
/* Banner End */
/* Header End */

/* Main Start */
/* Habits Start */
.habits_section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.habit_title {
  width: 48%;
  margin: 0 auto 58px;
  text-align: center;
}

.habit_title > h2 {
  margin-bottom: 14px;
}

.habit_tasks {
  display: flex;
  justify-content: space-around;
}

.task {
  text-align: center;
}

.task_name {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  margin: 30px 0 6px 0;
}

.task_description {
  color: #ffffff80;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.3px;
  width: 230px;
  margin: 0 auto;
}

.habit_tasks img {
  border-radius: 50%;
}
/* Habits End */

/* Extra Work Start */
.extra_work_section {
  background: #222222;
  padding: 30px 43px;
  display: flex;
  gap: 165px;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  margin-bottom: 100px;
}

.extra_work_title {
  flex: 1;
}

.extra_work_title > p {
  margin: 14px 0 34px 0;
  width: 70%;
}

.extra_work_img {
  flex: 1;
}

.extra_work_img > img {
  width: 100%;
  border-radius: 18px;
  object-fit: cover;
}
/* Extra Work End */
/* Main End */
